
    		.h1 
		{
      			background-color: #FFFFFF;
      			color: #150070;
			padding: 20px;
      			text-align: left;
			width: 100%; 
			height: 20px;
			margin: 0;
			align-items: center;
			font-family: georgia;
    		}

		.h2 
		{
			margin: 0;
			height: 560px;
    		}



	
    		.navbar
    		{ 
			position:sticky; 
			width: 100%; 
			height: 50px; 
			display: flex; 
			border-radius: 8px;
			justify-content: left; 
			align-items: center; 
			padding-right: 40px;
			padding-left: 40px;
      			border-top: 7px double #FFFFFF;
      			border-bottom: 7px double #FFFFFF;
			background-color: #150070;
			z-index: 1000;
    		}
		.nava
		{
			display: inline-block;
			font-size: 20px;
			font-family: poppins;
			color:#FFFFFF;
			padding-right: 40px;
			padding-left: 40px;
			justify-content: left;
			align-items: left; 
			text-decoration: none;
			z-index: 1000;
		}
		.navspan
		{
			position: absolute;
			top: 0;
			left: 525px;
			width: 190px;
			height: 100%;
			background: linear-gradient(45deg, #1d049f, #5a74ff);
			border-radius: 8px;
			transition: left 0.5s;
		}
		
		
		/* Move the span when hovering over each link */
			.navbar a:nth-child(1):hover ~ .navspan {
			     left: 60px;
		}
			.navbar a:nth-child(2):hover ~ .navspan {
			    left: 300px;
		}
			.navbar a:nth-child(3):hover ~ .navspan {
			    left: 525px;
		}
			.navbar a:nth-child(4):hover ~ .navspan {
			    left: 732px;
		}

/* Vertical Line */
.timeline {
    position: relative;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #27004b; /* Your dark purple */
    top: 0; bottom: 0;
    left: 50%;
    margin-left: -2px;
}

/* Individual Items */
.timeline-item {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
    /* This makes them invisible and shifted down at first */
    opacity: 0;
    transform: translateY(30px); 
    transition: all 0.6s ease-out;
}

/* The "Reveal" class added by JS */
.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}

/* Alternating Sides */
.left { left: 0; text-align: right; }
.right { left: 50%; text-align: left; }

/* The boxes around the text */
.timeline-content {
    padding: 20px;
    background: #f4f4f4;
    border: 7px solid #27004b;
    border-radius: 8px;
    box-shadow: 5px 5px 0px #6f0494;
}
